.app-profile-card {
    h1 {
        font-size: 24px;
        color: $purple;
        font-weight: bold;
        line-height: 32px;
        letter-spacing: 1.2px;
        text-align: center;
        margin-top: 40px;
        text-transform: uppercase;
    }

    .profile-fields-container {
        max-width: 740px;
        min-height: 500px;
        margin: 0 auto;
        border: 1px solid #ccc;
        box-sizing: border-box;
        box-shadow: #ccc 1px 1px 4px;
        position: relative;

        input {
            margin: 10px;
            padding: 10px;
        }
    }

    .button-container {
        text-align: center;
    }

    .profile-image-container {
        padding: 20px;
        text-align: center;
        background: url(/assets/img/Solid_Pattern.png);
        background-size: cover;
        img {
            display: block;
            margin: 0 auto;
            max-width: 128px;
            border-radius: 360px;
        }

        .image {
            margin: 0 auto;
        }
    }
    
    .profile-form-container {
        padding: 20px;
    }
    .profile-field {
        box-sizing: border-box;
        padding: 0 10px;
    }

    .profile-icon {
        font-size: 28px;
        opacity: 0.6;
        margin: 0 auto;
    }

    .icon-container {
        display: flex;
        align-self: center;
        align-content: center;
    }
    
}